.mat-snack-bar-container {
    padding: 0 !important;
    background-color: transparent !important;
    border-radius: 10px !important;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
}