<!-- Button -->
<button
        mat-icon-button
        [matMenuTriggerFor]="userActions">
    <span class="relative">
        <mat-icon
                [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
    </span>
</button>

<mat-menu
        [xPosition]="'before'"
        #userActions="matMenu">
    <button mat-menu-item
            (click)="profile()">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>{{ 'welcome.profile' | transloco }}</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button
            mat-menu-item
            (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>{{ 'welcome.signOut' | transloco }}</span>
    </button>
</mat-menu>

<mat-menu
        class="user-status-menu"
        #userStatus="matMenu">
    <button
            mat-menu-item
            (click)="updateUserStatus('online')">
        <span class="w-4 h-4 mr-3 rounded-full bg-green-500"></span>
        <span>{{ 'welcome.status.online' | transloco }}</span>
    </button>
    <button
            mat-menu-item
            (click)="updateUserStatus('away')">
        <span class="w-4 h-4 mr-3 rounded-full bg-amber-500"></span>
        <span>{{ 'welcome.status.away' | transloco }}</span>
    </button>
    <button
            mat-menu-item
            (click)="updateUserStatus('busy')">
        <span class="w-4 h-4 mr-3 rounded-full bg-red-500"></span>
        <span>{{ 'welcome.status.busy' | transloco }}</span>
    </button>
    <button
            mat-menu-item
            (click)="updateUserStatus('not-visible')">
        <span class="w-4 h-4 mr-3 rounded-full bg-gray-400"></span>
        <span>{{ 'welcome.status.invisible' | transloco }}</span>
    </button>
</mat-menu>
